/* NAVIGATION BAR */
/* Logo */
.logo {
    width: 100px;
    height: auto;
    display: block;
}

/* Background */
.bg-custom {
    background-color: #D7CCC8
}

.navbar {
    width: 100%;
}

.nav-link {
  color: #37474f;
}

/* HOMEPAGE */
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #37474f;
  background: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 49px;
  color: #37474f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

h2 {
  font-size: 25px;
  color: #B0BEC5;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #90A4AE;
}
  
/* Container */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

/* Group Grid */
.group-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
  
/* Group Cards */
.group-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.group-card {
  background-color: #F5F5F5;
  border: 2px solid #B0BEC5;
  color: #B0BEC5;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 20px;
  text-align: center;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
  
/* Hover Effect */
.group-card:hover {
  color: #37474f;
  border: 2px solid #37474f;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Create New Group Card */
.create-card {
  background-color: #E3F2FD;
  color: #64B5F6;
  border: 2px dashed #64B5F6;
}
  
.create-card:hover {
  color: #1E88E5;
  border: 2px dashed #1E88E5;
  background-color: #E3F2FD;
}

/* Join New Group Card */
.join-card {
  background-color: #E0F2F1;
  color: #4db6ac;
  border: 2px dashed #4db6ac;
}
  
.join-card:hover {
  color: #3A9182;
  border: 2px dashed #3A9182;
  background-color: #E0F2F1;
}

/* Leave Group Card */
.leave-card {
  background-color: #FDECEA;
  color: #e57373;
  border: 2px dashed #e57373;
}
  
.leave-card:hover {
  background-color: #FDECEA;
  border: 2px dashed #C44141;
  color: #C44141;
}

/* Form Inputs */
.form-control {
  background-color: #EDEDED;
  border: 1px solid #D3D3D3;
  color: #37474F;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #4DB6AC;
  box-shadow: 0 0 5px rgba(77, 182, 172, 0.5);
  outline: none;
}

/* Form Labels */
.form-label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #b0bec5;
}

/* Submit Button */
.btn-primary {
  background-color: #4DB6AC;
  border-color: #4DB6AC;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: #3D8F86;
  border-color: #3D8F86;
  box-shadow: 0 4px 6px rgba(55, 71, 79, 0.7);
}

/* Active State */
.btn-primary:active {
  background-color: #3D8F86;
  border-color: #3D8F86;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Focus State */
.btn-primary:focus {
  background-color: #4DB6AC;
  border-color: #4DB6AC;
  box-shadow: 0 0 5px rgba(77, 182, 172, 0.5);
  outline: none;
}

a {
  color: #F2B4B4;
  text-decoration: none;
}

a:hover {
  color: #E57373;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Center Alignment for Button */
.text-center {
  margin-top: 20px;
}

/* Adjust spacing between input fields */
.mb-3 {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      width: 90%;
      padding: 20px;
  }
}

/* QUOTES */
.quote-container .quote {
  font-style: italic;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.quote-text {
  color: #90A4AE;
}

.quote-container:nth-child(odd) {
  background-color: #EDE7E3;
}

.quote-container:nth-child(even) {
  background-color: #F5F2F0;
}

.quote-details {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: right;
  text-align: right;
  font-size: 1rem;
  color: #B0BEC5;
  margin-top: 10px;
}

/* LIKING */
.like-button {
  background-color: #FDECEA;
  color: #e57373;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.like-button:hover {
  background-color: #e57373;
  color: #FDECEA;
}

.liked {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #C44141;
  color: #FDECEA;
}

.liked:hover {
  background-color: #e57373;
  color: #FDECEA;
}

.like-form {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.like-count {
  font-weight: bold;
  font-style: normal;
  margin-left: 5px;
  color: #e57373;
}