{% extends "layout.html" %}

{% block title %}
    {{ group['name'] }} - Group Page
{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ group['name'] }}</h1>
        <div class="quote-grid">
            <!-- Quote cards -->
            {% if quotes %}
                {% for quote in quotes %}
                    <div class="quote-container">
                        <blockquote class="quote">
                            <p class="quote-text">"{{ quote['quote_text'] }}"</p>
                            <div class="quote-details">
                                <span>
                                    - {{ quote['quote_author'] }}{% if quote['location'] %}, {{ quote['location'] }}
                                </span>
                                {% endif %}
                                <form action="{{ url_for('like_quote', group_id=group['id'], quote_id=quote['id']) }}" method="POST" class="like-form">
                                    <button type="submit" class="{% if quote['id'] in like_info|map(attribute='id') %}liked{% else %}like-button{% endif %}">
                                        {% if quote['id'] in like_info|map(attribute='id') %}Liked{% else %}Like{% endif %}
                                    </button>
                                    <span class="like-count">
                                        {{ quote['likes'] or 0 }}
                                    </span>
                                </form>
                            </div>
                        </blockquote>                        
                    </div>
                {% endfor %}
            {% else %}
                <p>No quotes in this group yet.</p>
            {% endif %}
        </div>

        <!-- Add New Quote Form -->
        <div class="add-quote-form">
            <h2>Add a New Quote</h2>
            <form action="{{ url_for('add_quote', group_id=group.id) }}" method="POST">
                <div class="mb-3">
                    <textarea id="quote" name="quote" placeholder="Enter Quote" class="form-control mx-auto w-auto" required autocomplete="off"></textarea>
                  </div>
                  <div class="mb-3">
                    <input type="text" id="author" name="author" placeholder="Enter Author" class="form-control mx-auto w-auto" required autocomplete="off">
                  </div>
                  <div class="mb-3">
                    <input type="text" id="location" name="location" placeholder="Enter Location (Optional)" class="form-control mx-auto w-auto" autocomplete="off">
                  </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add Quote</button>
                    <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

