{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <h1>My Groups</h1>
        <div class="group-grid">
            <!-- Group cards -->
            <!--make this a for loop-->
            <div class="group-card">Group 1</div>
            <div class="group-card">Group 2</div>
            <div class="group-card">Group 3</div>
              
            <!-- Join New Group Button -->
            <a href="add.html" class="group-card join-card">+ Join New Group</a>
            </div>
          </div>
          <script src="script.js"></script>          
{% endblock %}

