{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Welcome, {{ name.user.username }}! </h1>
        <h2>My Groups</h2>
        <div class="group-grid">
            <!-- Group Cards -->
            {% for group in group_info %}
                <a href="{{ url_for('group_page', group_id=group['id']) }}" class="group-card">{{ group.name }}</a>
            {% endfor %}
            
            <!-- Create New Group Button -->
            <a href="{{ url_for('create') }}" class="group-card create-card">+ Create New Group</a>

            <!-- Join New Group Button -->
            <a href="{{ url_for('join') }}" class="group-card join-card">+ Join New Group</a>

            <!-- Leave New Group Button -->
            <a href="{{ url_for('leave') }}" class="group-card leave-card">- Leave Group</a>
        </div>
    </div>
{% endblock %}
